*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    outline: none
}
.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator
{
    background-color: peachpuff;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}
input
{
    grid-column: span 4;
    height: 50px;
    font-size: 45px;
    text-align: end;
}
button
{
    height: 40px;
    border-radius: 80%;
    margin: 3px;
}
.equal
{
    width: 90px;
    border-radius: 20px;
}